.containerWithOrange {
  background-color: #f77462;
  display:flex;
  justify-content: center;
  align-items: center;
  box-sizing:border-box;

  .textContainer {
    padding: 40px;
    width: 100%;
    font-family: SourceSansPro;
    font-size: 2rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    .textUnderHeader {
      padding: 20px;
      font-size: 1.13rem;
      font-weight: 300;
      line-height: 1.6;
    }
  }
}

@media (max-width: 600px) {
  .containerWithOrange {
    .textContainer {
      font-size: 1.2rem;
      line-height: 0.9;
      .textUnderHeader {
        padding: 10px;
        font-size: 0.8rem;
        line-height: 1.2;
      }
    }
  }
}