.container-with-orange-bg {
  background-color: #f77462;
  display:flex;
  justify-content: center;
  align-items: center;
  box-sizing:border-box;
  .text-in-orange-container {
    padding: 40px;
    width: 100%;
    font-family: SourceSansPro;
    font-size: 2rem;
    font-weight: bold;
    line-height: 0.9;
    text-align: center;
    color: #ffffff;
    .text-under-header-in-orange-container {
      padding: 20px;
      font-size: 1.13rem;
      font-weight: 300;
      line-height: 1.6;
    }
  }
}

@media (max-width: 600px) {
  .container-with-orange-bg {
    .text-in-orange-container {
      font-size: 1.2rem;
      line-height: 0.9;
      .text-under-header-in-orange-container {
        padding: 10px;
        font-size: 0.8rem;
        line-height: 1.2;
      }
    }
  }
}