.header {
    background-color: #ffffff;
    display: flex;
    height: 99px;
    padding: 0 40px;
    align-items: center;

  .plane-image {
    padding-right: 20px;
    align-self: center;
  }

  .menu {
    display: flex;
    margin-left: auto;
    color: #787878;
    font-weight: bold;

    .active-tab-menu {
      color: #6dc5dd;
    }

    div{
      margin:10px 10px 10px 10px;
    }
    
  }
}