.header {
    background-color: yellow;
    position: relative;
    height: 99px;
  .textHeader{
    display:flex;
    flex-direction: column;
    position: absolute;
    left: 102px;
    top: 26px;
  } 
  }
  
