.container-with-guys {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #ffffff;
  .people-in-container {
    display: flex;
    flex-direction: column;
    .person-in-container-guys {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 20px;
      .person-photo-in-container-guys {
        &.woman {
          flex-shrink: 0;
          width: 243px;
          height: 252px;
          background: url('../../png/tetka.png') no-repeat;
        }
        &.man {
          flex-shrink: 0;
          width: 243px;
          height: 252px;
          background: url('../../png/mushik.png') no-repeat;
        }
      }
      .text-near-photo-container {
        flex: 5;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 20px;
        .text-near-photo-header {
          font-size: 1.25rem;
          font-weight: bold;
          line-height: 1.44;
          color: #003d48;
        }
        .text-near-photo-main-part {
          font-size: 1rem;
          line-height: 1.6;
          color: #8c9193;
        }
        .button-guys-container {
          width: 4.56rem;
          height: 2.56rem;
          font-size: 0.94rem;
          font-family: "SourceSansPro";
          color: rgb(255, 255, 255);
          text-transform: uppercase;
          line-height: 1.92;
          border: none;
          background-color: #f77462;
        }
      }
    }
  }
  .table-in-container {
    .select-tab-container {
      width: 21.43rem;
      .select-tab-upper-part {
        .tab {
          transition: 2s;
          width: 6.44rem;
          height: 2.81rem;
          border-radius: 5px 5px 0 0;
          border-style: solid;
          border: 1px solid rgb(120, 120, 120);
          font-size: 1rem;
          font-family: "SourceSansPro";
          line-height: 1.8;
          font-weight: bold;
          background-color: white;
          color: rgb(120, 120, 120);
          border: none;
          cursor: pointer;
            &.active {
              background-color: rgb(0, 61, 72);
              color: rgb(247, 116, 98);
            }
        }
        .unVisible {
          display: none;
        }
      }
      .text-in-selected-tab-container {
        padding: 20px;
        font-family: "SourceSansPro";
        background-color: #003d48;
        .header-in-selected-tab {
          font-weight: bold;
          line-height: 1.44;
          text-align: left;
          color: rgb(109, 197, 221);
        }
        .main-text-in-selected-tab {
          font-size: 0.94rem;
          color: white;
          line-height: 1.6;
          text-align: justify;
        }
      }
    }
    .select-tab-down-part {
      display: flex;
      border-style: solid;
      border-width: 2px;
      border-color: rgb(236, 236, 236);
      background-color: rgb(255, 255, 255);
      div {
        ul {
          position: relative;
          li {
            padding-bottom: 0.94rem;
            list-style-type: none;
            &:not(:last-child):after {
              position: absolute;
              top: 0;
              width: 30px;
              height: 32px;
              background-color: black;
            }
          }
        }
      }
      .arrows-imgs-in-down-part {
        margin-top: 20px;
        margin-left: 10px;
        width: 10px;
        height: 200px;
        background: url('../../png/fiveArrows.png') no-repeat;

      }
      // .hrForLi {
      //   width: 97%;
      //   height: 2px;
      //   background-color: rgb(236, 236, 236);
      // }
     
    }
  }
}

@media (max-width: 1100px) {
  .container-with-guys {
    flex-direction: column;
    .table-in-container {
      align-self: center;
    }
    .people-in-container {
      width: 100%
    }
  }
}

@media (max-width: 680px) {
  .container-with-guys {
    .people-in-container {
      .person-in-container-guys {
        .person-photo-in-container-guys {
          &.woman {
            width: 180px;
            height: 190px;
            background-size: 180px 190px;
          }
          &.man {
            width: 180px;
            height: 190px;
            background-size: 180px 190px;
          }
        }
        .text-near-photo-container {
          .text-near-photo-header {
            font-size: 1rem;
            line-height: 1.20;
          }
          .text-near-photo-main-part {
            font-size: 0.8rem;
            line-height: 1.2;
          }
          .button-guys-container {
            width: 3rem;
            height: 2rem;
            font-size: 0.6rem;
            line-height: 1.92;
          }
        }
      }
    }
    .table-in-container {
      .select-tab-down-part {
        .arrows-imgs-in-down-part {
          width: 10px;
          height: 140px;
          background-size: 10px 140px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .container-with-guys {
    .people-in-container {
      .person-in-container-guys {
        .person-photo-in-container-guys {
          &.woman {
            width: 100px;
            height: 100px;
            background-size: 100px 100px;
          }
          &.man {
            width: 100px;
            height: 100px;
            background-size: 100px 100px;
          }
        }
        .text-near-photo-container {
          .text-near-photo-header {
            font-size: 0.8rem;
            line-height: 1.20;
          }
          .text-near-photo-main-part {
            font-size: 0.6rem;
            line-height: 1.2;
          }
          .button {
            width: 2rem;
            height: 1rem;
            font-size: 0.4rem;
            line-height: 1.92;
          }
        }
      }
    }
    .table-in-container {
      .select-tab-container {
        width: 18rem;
        .select-tab-upper-part {
          .tab-active {
            width: 2.7rem;
            height: 1.8rem;
            font-size: 0.5rem;
            line-height: 1.4;
          }
          .text-in-selected-tab-container {
            .header-in-selected-tab {
              font-size: 0.6rem;
              line-height: 1.24;
            }
            .main-text-in-selected-tab {
              font-size: 0.54rem;
              line-height: 1.6;
            }
          }
        }
        .select-tab-down-part {
          .arrows-imgs-in-down-part {
            width: 5px;
            height: 90px;
          background-size: 5px 90px;
          }
          li {
            font-size: 0.7rem;
            padding-bottom: 0.6rem;
            list-style-type: none;
          }
        }
      }
    }
  }
}

