
.container-with-guys {
  height: 576px;
  background-color: #ffffff;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  height: 100%;
  padding-top:40px;
  padding-right:20px;
  .people-in-container {
      display: flex;
      flex-direction: column;
      height:100%;
      .person-in-container-guys {
        justify-content: flex-end;
        display: flex;
        height:100%;
        padding-bottom:20px;
        .photo-in-container-guys {
          height: auto;
          width: 100%;
        }
      .text-near-photo-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-left:30px;
        .text-near-photo-first-part {
          color: #003d48;
          font-size: 1.25rem;
          font-weight: bold;
          line-height: 1.44;
        }
        .text-near-photo-second-part {
          font-size: 0.94rem;
          line-height: 1.6;
          color: #8c9193;
        }
        .button-for-guys-container {
          width: 4.56rem;
          height: 2.56rem;
          font-size: 0.94rem;
          font-family: "SourceSansPro";
          color: rgb(255, 255, 255);
          text-transform: uppercase;
          line-height: 1.92;
          background-color: #f77462;
          border: none;
        }
      }
    }
  }
  .table-in-container {
    flex: 0;
    .select-tab-container{
      width: 21.43rem;
      .select-tab-upper-part {
        .tab-active {
          border-radius:5px 5px 0 0;
          border-style: solid;
          border-width: 2px;
          width: 6.44rem;
          height: 2.81rem;
          font-size: 1rem;
          font-family: "SourceSansPro";
          line-height: 1.8;
          font-weight: bold;
          background-color: rgb(0, 61, 72);
          color: rgb(247, 116, 98);
          border:none;
        }
        .tab-no-active {
          @extend .tab-active;
          background-color: white;
          color: rgb(120, 120, 120);
          border: 1px solid rgb(120, 120, 120);
          margin-left: 6px;
          }
        }
        .text-in-selected-tab-container{
          background-color: #003d48;
          padding: 20px;
          
          .header-in-selected-tab {
            font-family: "SourceSansPro";
            color: rgb(109, 197, 221);
            font-weight: bold;
            line-height: 1.44;
            text-align: left;
          }
          .main-text-in-selected-tab {
            font-size: 0.94rem;
            font-family: "SourceSansPro";
            color: white;
            line-height: 1.6;
            text-align: justify;
          }
        }
      }
        .select-tab-down-part {
            border-style: solid;
            border-width: 2px;
            border-color: rgb(236, 236, 236);
            background-color: rgb(255, 255, 255);
            display: flex;
          
            .arrows-imgs-in-down-part {
              padding-top:20px;
              padding-left: 10px;
              .image-arrow {
                height: auto;
                width: 100%;
              }
            }
            .hrForLi {
              background-color: rgb(236, 236, 236);
              width: 97%;
              height: 2px; 
            }
            li {
              padding-bottom: 0.94rem;
              list-style-type: none; 
            }
          }
        }
      }

  @media (max-width: 1100px) {
      .container-with-guys{
        flex-direction: column;
        .table-in-container  {
          align-self: center;
        }
        .people-in-container {
          align-items: center;
      }
    }
  }
  @media (max-width: 680px) {
    .container-with-guys{
      .people-in-container {
        .person-in-container-guys {
          .text-near-photo-container {
            .text-near-photo-first-part {
              font-size: 1rem;
              line-height: 1.20;
            }
            .text-near-photo-second-part {
              font-size: 0.8rem;
              line-height: 1.2;
            }
            .button-for-guys-container {
              width: 3rem;
              height: 2rem;
              font-size: 0.6rem;
              font-family: "SourceSansPro";
              color: rgb(255, 255, 255);
              text-transform: uppercase;
              line-height: 1.92;
              background-color: #f77462;
              border: none;
            }
          }
        } 
      }
    }
    
  }
  @media (max-width: 480px) {
    .container-with-guys {
      .people-in-conteine {
        .person-in-container-guys {
          .text-near-photo-container {
            .text-near-photo-first-part {
              font-size: 0.8rem;
              line-height: 1.20;
            }
            .text-near-photo-second-part {
              font-size: 0.6rem;
              line-height: 1.2;
            }
      
            .button {
              width: 2rem;
              height: 1rem;
              font-size: 0.4rem;
              font-family: "SourceSansPro";
              color: rgb(255, 255, 255);
              text-transform: uppercase;
              line-height: 1.92;
            }
          }
        } 
      }
      .table-in-container {
        .select-tab-container{
          width: 18rem;
          .select-tab-upper-part {
            .tab-active {
              border-radius:5px 5px 0 0;
              width: 2.7rem;
              height: 1.8rem;
              font-size: 0.5rem;
              font-family: "SourceSansPro";
              line-height: 1.4;
              font-weight: bold;
            }
            .text-in-selected-tab-container {
              .header-in-selected-tab {
                font-family: "SourceSansPro";
                font-size: 0.6rem;
                color: rgb(109, 197, 221);
                font-weight: bold;
                line-height: 1.24;
                text-align: left;
              }
              .main-text-in-selected-tab {
                font-size: 0.54rem;
                font-family: "SourceSansPro";
                color: white;
                line-height: 1.6;
                text-align: justify;
              }
            }
          }
          .select-tab-down-part {
            .arrows-imgs-in-down-part {
              display: none;
            }
            .hrForLi {
              width: 97%;
              height: 2px; 
            }
            li {
              font-size:0.7rem;
              padding-bottom: 0.6rem;
              list-style-type: none; 
            }
          }
        }
      }
    }
  }
 
