
.containerForGuys {
  height: 576px;
  background-color: #ffffff;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  height: 100%;
  padding-top:40px;
  padding-right:20px;
  .people {
    flex: 0;
    display: flex;
    flex-direction: column;
    height:100%;
  }
  .woman {
    justify-content: flex-end;
    display: flex;
    height:100%;
    padding-bottom:20px;
    
    .textNearPhoto {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding-left:30px;
      .photo {
        flex:3;
        padding-right:20px;
      }
      .button {
        width: 73px;
        height: 41px;
        font-size: 15px;
        font-family: "SourceSansPro";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.92;
      }
    }
  }
  .man {
    @extend .woman
  
  }
  .table{
    flex: 0;

    .menuTab{
      width: 343px;
      .tableUpperPart {
        .tab {
          border-radius:5px 5px 0 0;
          border-style: solid;
          border-width: 2px;
          width: 103px;
          height: 45px;
          font-size: 16px;
          font-family: "SourceSansPro";
          line-height: 1.8;
          font-weight: bold;
        }
        .active {
          background-color: rgb(0, 61, 72);
          border:none;
        }
        .nonActive {
          background-color: white;
        }
        .tabActive {
          color: rgb(247, 116, 98);
        }
        .tabNonActive {
          color: rgb(120, 120, 120);
        }
        .tabletext{
          background-color: #003d48;
          padding: 20px;
          
          .sedeginText {
            font-family: "SourceSansPro";
            color: rgb(109, 197, 221);
            font-weight: bold;
            line-height: 1.44;
            text-align: left;
          }
          .simalesText {
            font-size: 15px;
            font-family: "SourceSansPro";
            color: white;
            line-height: 1.6;
            text-align: justify;
          }
        }
      }
      .list {
          border-style: solid;
          border-width: 2px;
          border-color: rgb(236, 236, 236);
          background-color: rgb(255, 255, 255);
        }
        li {
          padding: 10px;
        }
      }
      }
    }
    @media (max-width: 1100px) {
      .containerForGuys{
        flex-direction: column;
        .table {
          align-self: center;
        }
        .people {
          align-items: center;
      }
    }
  }
    
 
