
.containerForGuys {
  height: 576px;
  background-color: #ffffff;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  height: 100%;
  padding-top:40px;
  padding-right:20px;
  .people {
      display: flex;
      flex-direction: column;
      height:100%;
    
      .person {
        justify-content: flex-end;
        display: flex;
        height:100%;
        padding-bottom:20px;
        .photo-in-guys {
          height: auto;
          width: 100%;
        }
      
      .textNearPhoto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-left:30px;
        .personText {
          color: #003d48;
          font-size: 1.25rem;
          font-weight: bold;
          line-height: 1.44;
        }
        .personText2 {
          font-size: 0.94rem;
          line-height: 1.6;
          color: #8c9193;
        }
  
        .button {
          width: 4.56rem;
          height: 2.56rem;
          font-size: 0.94rem;
          font-family: "SourceSansPro";
          color: rgb(255, 255, 255);
          text-transform: uppercase;
          line-height: 1.92;
          background-color: #f77462;
          border: none;
        }
      }
    }
  }
  .table{
    flex: 0;

    .menuTab{
      width: 21.43rem;
      .tableUpperPart {
        .tab {
          border-radius:5px 5px 0 0;
          border-style: solid;
          border-width: 2px;
          width: 6.44rem;
          height: 2.81rem;
          font-size: 1rem;
          font-family: "SourceSansPro";
          line-height: 1.8;
          font-weight: bold;
        }
        .active {
          background-color: rgb(0, 61, 72);
          border:none;
        }
        .nonActive {
          background-color: white;
        }
        
        .tabActive {
          color: rgb(247, 116, 98);
        }
        .tabNonActive {
          color: rgb(120, 120, 120);
        }
        .tabletext{
          background-color: #003d48;
          padding: 20px;
          
          .sedeginText {
            font-family: "SourceSansPro";
            color: rgb(109, 197, 221);
            font-weight: bold;
            line-height: 1.44;
            text-align: left;
          }
          .simalesText {
            font-size: 0.94rem;
            font-family: "SourceSansPro";
            color: white;
            line-height: 1.6;
            text-align: justify;
          }
        }
      }
        .list {
            border-style: solid;
            border-width: 2px;
            border-color: rgb(236, 236, 236);
            background-color: rgb(255, 255, 255);
            display: flex;
          
            .arrows {
              padding-top:20px;
              padding-left: 10px;
              .image-arrow {
                height: auto;
                width: 100%;
              }
            }
            .hrForLi {
              background-color: rgb(236, 236, 236);
              width: 97%;
              height: 2px; 
            }
            li {
              padding-bottom: 0.94rem;
              list-style-type: none;
            }
          }
        }
      }
    }
    @media (max-width: 1100px) {
      .containerForGuys{
        flex-direction: column;
        .table {
          align-self: center;
        }
        .people {
          align-items: center;
      }
    }
  }
  @media (max-width: 680px) {
    .containerForGuys{
      .people {
        .person {
          .textNearPhoto{
            .personText {
              font-size: 1rem;
              line-height: 1.20;
            }
            .personText2 {
              font-size: 0.8rem;
              line-height: 1.2;
            }
      
            .button {
              width: 3rem;
              height: 2rem;
              font-size: 0.6rem;
              font-family: "SourceSansPro";
              color: rgb(255, 255, 255);
              text-transform: uppercase;
              line-height: 1.92;
              background-color: #f77462;
              border: none;
            }
          }
        } 
      }
    }
    
  }
  @media (max-width: 480px) {
    .containerForGuys{
      .people {
        .person {
          .textNearPhoto{
            .personText {
              font-size: 0.8rem;
              line-height: 1.20;
            }
            .personText2 {
              font-size: 0.6rem;
              line-height: 1.2;
            }
      
            .button {
              width: 2rem;
              height: 1rem;
              font-size: 0.4rem;
              font-family: "SourceSansPro";
              color: rgb(255, 255, 255);
              text-transform: uppercase;
              line-height: 1.92;
            }
          }
        } 
      }
      .table{
        .menuTab{
          width: 18rem;
          .tableUpperPart {
            .tab {
              border-radius:5px 5px 0 0;
              width: 2.7rem;
              height: 1.8rem;
              font-size: 0.5rem;
              font-family: "SourceSansPro";
              line-height: 1.4;
              font-weight: bold;
            }
            .tabletext{
              .sedeginText {
                font-family: "SourceSansPro";
                font-size: 0.6rem;
                color: rgb(109, 197, 221);
                font-weight: bold;
                line-height: 1.24;
                text-align: left;
              }
              .simalesText {
                font-size: 0.54rem;
                font-family: "SourceSansPro";
                color: white;
                line-height: 1.6;
                text-align: justify;
              }
            }
          }
          .list {
            .arrows {
              display: none;
            }
            .hrForLi {
              width: 97%;
              height: 2px; 
            }
            li {
              font-size:0.7rem;
              padding-bottom: 0.6rem;
              list-style-type: none;
            }
          }
        }
      }
    }
    
  }
 
