.containerWithBlue {
  background-color: #6dc5dd;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-around;
  height: 100%;
}
.rowInBlue {
  display: flex;
  flex: 1;
  flex-direction: row;
  height:273px;
}
.circle {
  align-self:start;
  padding:30px;
}
.textAndArrow {
  display: flex;
  .arrow {
    padding-left:10px;
    align-self: center;
  }
}
@media (max-width: 1100px) {
  .containerWithBlue {
    flex-direction: column;
    .rowInBlue {
      flex: none;
    }
  }
}