.containerWithCalendar {
    background-color: #ffffff;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing:border-box;
  .header {
    display: flex;
    align-items: center;
    font-family: SourceSansPro;
    font-size: 2rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: normal;
    color: #003d48;
  }
  .textUnderHeader {
    font-family: SourceSansPro;
    font-size: 1.4rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #6dc5dd;
  }
  .hr {
    background-color: rgb(236, 236, 236);
    margin:10px;
    width: 97%;
    height: 2px; 
  }
  .calendarAndComments {
    margin-top: 30px;
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
  
    .calendar{
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      .row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        margin-bottom:10px;
        .textForData{
          display:flex;
          flex-direction: column;
          padding-left:25px;
          .headerTextCalendar{
            flex: 2;
            font-family: SourceSansPro;
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.8;
            color: #003d48;
          }
          .commentsForData{
            flex:1;
            font-family: SourceSansPro;
            font-size: 0.88rem;
            line-height: 2.06;
            color: #f77462;
          }
          .textUnderComments{
            flex:2;
            font-family: SourceSansPro;
            font-size: 0.94rem;
            line-height: 1.6;
            color: #787878;
            .arrow {
              padding-left: 10px;
              border: none;
              background-color: white;
            }
          }
        }
      }
    }
    .comments {
      width: 70%;
      flex:1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .blockComment {
        width:80%;
        margin-bottom: 30px;
        border: solid 2px #ececec;
        background-color: #ececec;
        display:flex;
        align-items: center;
        .textComment {
          display:flex;
          flex-direction: column;
          padding-left:10px;
        }
        .text{
          font-family: SourceSansPro;
          font-size: 0.94rem;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #8c9193;
        }
        .author {
          font-family: SourceSansPro;
          font-size: 1rem;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.8;
          letter-spacing: normal;
          color: #f77462;
        }
        .message {
          padding:20px;
          .circle-in-comment {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .containerWithCalendar {
    .calendarAndComments{
      flex-direction: column;
      align-items: center;
      .comments {
        width: 100%;
        .blockComment {
          width:90%;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .containerWithCalendar {
    .header {
      font-size: 1.6rem;
      line-height: 0.8;
    }
    .textUnderHeader {
      font-size: 1rem;
      line-height: 1.2;
    }
    .calendarAndComments {
      .calendar{
        .row{
          margin-bottom:10px;
          .textForData{
            padding-left:15px;
            .headerTextCalendar{
              font-size: 0.8rem;
              line-height: 1.4;
            }
            .commentsForData{
              font-size: 0.6rem;
              line-height: 1.06;
            }
            .textUnderComments{
              font-size: 0.74rem;
              line-height: 1.4;
              .arrow {
              }
            }
          }
        }
      }
      .comments {
        width: 100%;
        .blockComment {
          width:90%;
          .text {
            font-size: 0.85rem;
            line-height: 1.2;
          }
          .author {
            font-size: 0.8rem;
            line-height: 1.4;
          }
          .message {
            padding:20px;
          }
        }
      }
    }
  }
}


@media (max-width: 480px) {
  .containerWithCalendar {
    .calendarAndComments {
      .calendar{
        .row{
          margin-bottom:10px;
          .textForData{
            padding-left:15px;
            .headerTextCalendar{
              font-size: 0.8rem;
              line-height: 1.4;
            }
            .commentsForData{
              font-size: 0.6rem;
              line-height: 1.06;
            }
            .textUnderComments{
              font-size: 0.74rem;
              line-height: 1.4;
              .arrow {
              }
            }
          }
        }
      }
      .comments {
        .blockComment {
          .text {
            font-size: 0.6rem;
            line-height: 1.4;
          }
          .author {
            font-size: 0.6rem;
            line-height: 1.4;
          }
          .message {
            padding:10px;
          }
        }
      }
    }
  }
}