.containerWithCalendar {
    background-color: #ffffff;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing:border-box;
  .header {
    display: flex;
    align-items: center;
    font-family: SourceSansPro;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: normal;
    color: #003d48;

  }
  .textUnderHeader {
    font-family: SourceSansPro;
    font-size: 22px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #6dc5dd;
  }
  .hr {
    background-color: rgb(236, 236, 236);
    margin:10px;
    width: 97%;
    height: 2px; 
  }
  .calendarAndComments {
    margin-top: 30px;
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    
   
  }
  .calendar{
    display: flex;
    height: 460px;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    .row{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      .textForData{
        display:flex;
        flex-direction: column;
        padding-left:25px;
        .headerTextCalendar{
          flex: 2;
          font-family: SourceSansPro;
          font-size: 16px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.8;
          letter-spacing: normal;
          color: #003d48;
        }
        .commentsForData{
          flex:1;
          font-family: SourceSansPro;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 2.06;
          letter-spacing: normal;
          color: #f77462;
        }
        .textUnderComments{
          flex:2;
          font-family: SourceSansPro;
          font-size: 15px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.6;
          letter-spacing: normal;
          color: #787878;
          width: 425px;
          .arrow {
            padding-left: 10px;
            border: none;
            background-color: white;
          }
        }
      }
    }
  }
  .comments {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .blockComment {
      margin-bottom: 30px;
      width: 542px;
      height: 196px;
      border: solid 2px #ececec;
      background-color: #ececec;
      display:flex;
      align-items: center;
      .textComment {
        display:flex;
        flex-direction: column;
        padding-left:10px;
      }
      .text{
        font-family: SourceSansPro;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #8c9193;
      }
      .author {
        font-family: SourceSansPro;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: normal;
        color: #f77462;
      }
      .message {
        padding:20px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .calendarAndComments{
    flex-direction: column;
    align-items: center;
    // .calendar{
    //   align-self: center;
    // }
    // .comments{
    //   align-self: center;
    // }
  }
}