.container-with-calendar {
    background-color: #ffffff;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing:border-box;
  .header-in-calendar-conteiner {
    display: flex;
    align-items: center;
    font-family: SourceSansPro;
    padding: 40px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 0.9;
    color: #003d48;
  }
  .second-header-in-calendar-conteiner {
    font-family: SourceSansPro;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.31;
    text-align: center;
    color: #6dc5dd;
  }
  .hr-in-calendar-conteiner {
    background-color: rgb(236, 236, 236);
    margin:10px;
    width: 97%;
    height: 2px; 
  }
  .calendar-and-comments-in-calendar-container {
    margin-top: 30px;
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
  
    .calendar-part-in-calendar-conteiner{
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      .card-with-calendar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        margin-bottom:10px;
        .text-in-card-conteiner{
          display:flex;
          flex-direction: column;
          padding-left:25px;
          .header-in-card{
            flex: 2;
            font-family: SourceSansPro;
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.8;
            color: #003d48;
          }
          .number-of-comments-in-card{
            flex:1;
            font-family: SourceSansPro;
            font-size: 0.88rem;
            line-height: 2.06;
            color: #f77462;
          }
          .main-text-in-card{
            flex:2;
            font-family: SourceSansPro;
            font-size: 0.94rem;
            line-height: 1.6;
            color: #787878;
            .button-image-arrow-in-card {
              padding-left: 10px;
              border: none;
              background-color: white;
            }
          }
        }
      }
    }
    .comments-part-in-calendar-conteiner {
      width: 70%;
      flex:1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .card-with-comments {
        width:80%;
        margin-bottom: 30px;
        border: solid 2px #ececec;
        background-color: #ececec;
        display:flex;
        align-items: center;
        .text-in-card-with-comment {
          display:flex;
          flex-direction: column;
          padding-left: 10px;
        
          .main-text-in-card-with-comment{
            font-family: SourceSansPro;
            font-size: 0.94rem;
            line-height: 1.5;
            color: #8c9193;
          }
          .author-in-card-with-comment {
            font-family: SourceSansPro;
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.8;
            color: #f77462;
          }
        }
        .message-image-in-card-with-comment {
          padding:20px;
          .img-circle-in-comment-card {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .container-with-calendar {
    .calendar-and-comments-in-calendar-container{
      flex-direction: column;
      align-items: center;
      .comments-part-in-calendar-conteiner {
        width: 100%;
        .card-with-comments {
          width:90%;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .container-with-calendar {
    .header-in-calendar-conteiner {
      font-size: 1.6rem;
      line-height: 0.8;
    }
    .second-header-in-calendar-conteiner {
      font-size: 1rem;
      line-height: 1.2;
    }
    .calendar-and-comments-in-calendar-container {
      .calendar-part-in-calendar-conteiner{
        .card-with-calendar{
          margin-bottom:10px;
          .text-in-card-conteiner{
            padding-left:15px;
            .header-in-card{
              font-size: 0.8rem;
              line-height: 1.4;
            }
            .number-of-comments-in-card{
              font-size: 0.6rem;
              line-height: 1.06;
            }
            .main-text-in-card{
              font-size: 0.74rem;
              line-height: 1.4;
            }
          }
        }
      }
      .comments-part-in-calendar-conteiner {
        width: 100%;
        .card-with-comments {
          width:90%;
          .main-text-in-card-with-comment {
            font-size: 0.85rem;
            line-height: 1.2;
          }
          .author-in-card-with-comment {
            font-size: 0.8rem;
            line-height: 1.4;
          }
          .message-image-in-card-with-comment {
            padding:20px;
          }
        }
      }
    }
  }
}


@media (max-width: 480px) {
  .container-with-calendar {
    .calendar-and-comments-in-calendar-container {
      .calendar-part-in-calendar-conteiner {
        .card-with-calendar{
          margin-bottom:10px;
          .text-in-card-conteiner{
            padding-left:15px;
            .header-in-card{
              font-size: 0.8rem;
              line-height: 1.4;
            }
            .number-of-comments-in-card{
              font-size: 0.6rem;
              line-height: 1.06;
            }
            .main-text-in-card{
              font-size: 0.74rem;
              line-height: 1.4;
            }
          }
        }
      }
      .comments-part-in-calendar-conteiner {
        .card-with-comments {
          .main-text-in-card-with-comment{
            font-size: 0.6rem;
            line-height: 1.4;
          }
          .author-in-card-with-comment {
            font-size: 0.6rem;
            line-height: 1.4;
          }
          .message-image-in-card-with-comment {
            padding:10px;
          }
        }
      }
    }
  }
}