.container-footer {
  display: flex;
  flex-direction: column;
  background-color: #6dc5dd;
  color: #ffffff;

  .upper-part-footer-container {
    flex: 1;
    display: flex;
    padding: 40px;
    background-color: #6dc5dd;
    flex: 1;
    display: flex;
    align-items: flex-start;
    margin: 10px;
    }
    .header-in-footer-column {
      font-family: SourceSansPro;
      font-size: 1.25rem;
      font-weight: bold;
      letter-spacing: 0.8px;
    }
    .main-text-in-footer-column {
      width: 85%;
      font-family: SourceSansPro;
      font-size: 1rem;
      line-height: 1.44;
      letter-spacing: 0.56px;
      
    }
  }
  .site-info-footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0px;
  .site-info {
    display: flex;
    align-self: flex-start;
    position: relative;
    width: 100%;

    &:before {
      content: '';
      vertical-align: middle;
      position: absolute;
      left:5%;
      top: -10px;
      width: 90%;
      height: 2px;
      background: white;
    }
  .site-name {
    align-self: flex-start;
    flex: 36;
    font-family: SourceSansPro;
    font-size: 0.88rem;
    color: #ffffff;
  }
  .facebook-logo-in-footer {
    flex: 1;
    width: 25px;
    height: 25px;
    background: url('../png/fb.png') no-repeat;
    margin-right: 20px;
  }
  .twitter-logo-in-footer {
    @extend .facebook-logo-in-footer;
    background: url('../png/twitter.png') no-repeat;
  }
}
  .hr-footer-container {
    align-self: center;
    height:2px;
    width: 90%;
    background-color: white;
    margin-bottom: 40px;
  }
}


@media (max-width: 980px) {
  .upper-part-footer-container {
    .column-in-footer {
      .header-in-footer-column {
        font-size: 0.9rem;
        letter-spacing: 0.8px;
      }
      .main-text-in-footer-column {
        font-size: 0.6rem;
        line-height: 1;
        letter-spacing: 0.56px;
      }
    }
  }
}

@media (max-width: 600px) {
  .container-footer {
    .upper-part-footer-container {
      padding: 5px;
      flex-wrap: wrap;
      .column-in-footer{
        margin-top: 10px;
        .header-in-footer-column {
          font-size: 0.6rem;
          letter-spacing: 0.4px;
        }
        .main-text-in-footer-column {
          font-size: 0.6rem;
          line-height: 1;
          letter-spacing: 0.56px;
          color: #ffffff;
        }
      }
    }
      .site-info-footer-container {
        display: flex;
        flex-direction: column;
        width: 100%;
      .site-info{
        &:before {
          top: -3px;
          height: 1px;
        }
        .site-name{
          font-size: 0.6rem;
        }
        .social-network-in-footer {
        padding-right: 20px;
        }
      }
    }
  }
}