.containerForFooter {
  background-color: #6dc5dd;
  display: flex;
  flex-direction: column;
  .upperPart {
    background-color: #6dc5dd;
    flex:1;
    padding: 40px 20px;
    display:flex;
    align-items:center;
    justify-content: space-around;
    .rows{
      display:flex;
      flex-direction: column;
    }
    .headerInFooter{
      font-family: SourceSansPro;
      font-size: 1.25rem;
      font-weight: bold;
      letter-spacing: 0.8px;
      color: #ffffff;
    }
    .textAfterHeader{
      font-family: SourceSansPro;
      font-size: 14px;
      line-height: 1.94;
      letter-spacing: 0.56px;
      color: #ffffff;
      width: 168px;
    }
  }
  .citeInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    
  

  .footerSecondPart{
    margin-bottom: 40px;
    display: flex;
    align-self: flex-start;
    width: 100%;
    margin-left:20px;
  .allRights{
    flex:36;
    font-family: SourceSansPro;
    font-size: 0.88rem;
    color: #ffffff;
    align-self:flex-start;
  }
    .socialNetwork{
      flex: 1;
      margin-left: auto;
    padding-right:20px;
    }
  
}
  .hr{
    height:2px;
    width:90%;
    background-color: white;
    align-self: center;
    margin-bottom: 40px;
  }
}
}
@media (max-width: 980px) {
  .upperPart {
    flex-wrap: wrap;
  }
};

@media (max-width: 600px) {
  .containerForFooter {
    .upperPart {
      padding: 10px 10px;
      .headerInFooter{
        font-size: 1rem;
        letter-spacing: 0.4px;
      }
      .textAfterHeader{
        font-size: 14px;
        line-height: 1.94;
        letter-spacing: 0.56px;
        color: #ffffff;
        width: 168px;
      }
    }
      .citeInfo {
        display: flex;
        flex-direction: column;
        width: 100%;
      .footerSecondPart{
      .allRights{
        font-size: 0.6rem;
      }
        .socialNetwork{
        padding-right:20px;
        }
      }
    }
  }
}