.container-for-footer {
  background-color: #6dc5dd;
  display: flex;
  flex-direction: column;
  .upper-part-footer-container {
    background-color: #6dc5dd;
    flex: 1;
    padding: 40px 20px;
    display: flex;
    .column-in-footer {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: flex-start;
      margin: 10px;
    }
    .header-in-footer-column {
      font-family: SourceSansPro;
      font-size: 1.25rem;
      font-weight: bold;
      letter-spacing: 0.8px;
      color: #ffffff;
    }
    .main-text-in-footer-column {
      width: 85%;
      font-family: SourceSansPro;
      font-size: 1rem;
      line-height: 1.44;
      letter-spacing: 0.56px;
      color: #ffffff;
    }
  }
  .cite-info-footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  .cite-info {
    margin-bottom: 40px;
    display: flex;
    align-self: flex-start;
    width: 100%;
    margin-left:20px;
  .cite-name {
    flex:36;
    font-family: SourceSansPro;
    font-size: 0.88rem;
    color: #ffffff;
    align-self:flex-start;
  }
    .social-network-in-footer {
      flex: 1;
      margin-left: auto;
    padding-right:20px;
    }
}
  .hr-footer-container {
    height:2px;
    width:90%;
    background-color: white;
    align-self: center;
    margin-bottom: 40px;
  }
}
}

@media (max-width: 980px) {
  .upper-part-footer-container {
    .column-in-footer {
      .header-in-footer-column {
        font-size: 0.9rem;
        letter-spacing: 0.8px;
      }
      .main-text-in-footer-column {
        font-size: 0.6rem;
        line-height: 1;
        letter-spacing: 0.56px;
      }
    }
  }
}

@media (max-width: 600px) {
  .container-for-footer {
    .upper-part-footer-container {
      padding: 5px;
      flex-wrap: wrap;
      .column-in-footer{
        margin-top: 10px;
        .header-in-footer-column {
          font-size: 0.6rem;
          letter-spacing: 0.4px;
        }
        .main-text-in-footer-column {
          font-size: 0.6rem;
          line-height: 1;
          letter-spacing: 0.56px;
          color: #ffffff;
        }
      }
    }
      .cite-info-footer-container {
        display: flex;
        flex-direction: column;
        width: 100%;
      .cite-info{
        .cite-name{
          font-size: 0.6rem;
        }
        .social-network-in-footer {
        padding-right:20px;
        }
      }
    }
  }
}