.container-for-phone {
  background-image: linear-gradient(to top, #ffffff, #e7e7e7);
  display:flex;
  justify-content: space-evenly;
  padding-top:3.13rem;
  .phone-img {
    height: auto;
    width: 100%;
  }
  .text-near-phone-conteiner {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    color:#003d48;
    .text-near-phone-first-part {
      font-family: SourceSansPro;
      font-size: 1.94rem;
      font-weight: 300;
    }
    .text-near-phone-second-part {
      font-size: 2.69rem;
      font-weight: 900;
    }
    .text-near-phone-third-part {
      font-size: 1.13rem;
      color: #8b8b8b;
    }
    .button {
        width: 8.25rem;
        height: 2.94rem;
        background-color: #f77462;
        border-radius: 10px;
        .text-in-button-phone {
          font-size: 1.13rem;
          color: #ffffff;
          font-family: SourceSansPro;
        }
    }
  }
}

@media ( max-width: 680px) {
  .container-for-phone{
    .text-near-phone-conteiner {
      margin-left: 20px;
      .text-near-phone-first-part {
        font-size: 1.2rem;
      }
      .text-near-phone-second-part {
        font-size: 1.6rem;
      }
      .text-near-phone-third-part {
        font-size: 0.9rem;
      }
    } 
  }
}
@media ( max-width: 460px) {
  .container-for-phone{
    .text-near-phone-conteiner {
      .text-near-phone-first-part {
        font-size: 0.8rem;
      }
      .text-near-phone-second-part {
        font-size: 1rem;
      }
      .text-near-phone-third-part {
        font-size: 0.6rem;
      }
      .button {
        width: 3rem;
        height: 1.4rem;
        border-radius: 3px;
        .text-in-button-phone {
          font-size: 0.4rem;
          line-height: 0.02;
        }
      }
    } 
  }
}

